In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../../data/zoonosis_dataset_full.csv')
info = pd.read_csv('../../data/allflu_wgs_ref.csv')

In [15]:
data.shape

(19531, 964)

In [10]:
data_full = info.merge(data, how = "outer", on = 'gid')
data_full.head()

,Unnamed: 0,gid,title,subtype_x,label_x,src_x,date,subtype_y,label_y,src_y,...,PAAC_Xc1.L_PB2,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2
0,619,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,H9N2,nz,NCBI,2017-06-15,H9N2,nz,NCBI,...,0.0,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484
1,620,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,H9N2,nz,NCBI,2009-11-15,H9N2,nz,NCBI,...,0.0,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675
2,621,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,H1N2,nz,NCBI,2017-02-16,H1N2,nz,NCBI,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
3,622,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,H1N2,nz,NCBI,2017-03-25,H1N2,nz,NCBI,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
4,623,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,H1N2,nz,NCBI,2017-03-25,H1N2,nz,NCBI,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787

In [13]:
data_full = data_full.drop(["Unnamed: 0","subtype_x", "label_x", "src_x"], axis=1)
data_full.head()

,gid,title,date,subtype_y,label_y,src_y,TT_p2_Bias_HA,V_aa_Bias_HA,GGC_Bias_HA,AG_Bias_HA,...,PAAC_Xc1.L_PB2,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2
0,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,2017-06-15,H9N2,nz,NCBI,0.866878,0.055258,0.372093,0.937347,...,0.0,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484
1,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,2009-11-15,H9N2,nz,NCBI,0.870800,0.051693,0.372093,0.946020,...,0.0,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675
2,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,2017-02-16,H1N2,nz,NCBI,0.792554,0.052910,0.651163,0.899660,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
3,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,2017-03-25,H1N2,nz,NCBI,0.792554,0.054770,0.651163,0.906809,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
4,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,2017-03-25,H1N2,nz,NCBI,0.795177,0.054867,0.651163,0.900619,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787

In [16]:
data_full.shape

(19531, 966)

In [20]:
df_new = pd.DataFrame.copy(data_full)

In [21]:
df_new['b'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['a'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['Year'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['Code'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['Location'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['Species'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]
df_new['Blank'] = 0 
col = df_new.columns.tolist()
col.insert(0, col.pop()) #loc is the column's index you want to insert into
df_new = df_new[col]

In [24]:
splits = df_new['title'].str.split('/', expand=True)
df_new[['Blank', 'Species', 'Location', 'Code', 'Year', 'a', 'b']] = splits
df_new['Year'] = df_new.Year.str[:-1]
df_new.head()

,Blank,Species,Location,Code,Year,a,b,gid,title,date,...,PAAC_Xc1.L_PB2,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2
0,A,Accipiter_gentilis_schvedowi,Tianjin,22,201,None,None,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,2017-06-15,...,0.0,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484
1,A,African_Stonechat,Vietnam,8,200,None,None,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,2009-11-15,...,0.0,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675
2,A,Alopochen_aegyptiacus,Belgium,1570_B6613,201,None,None,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,2017-02-16,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
3,A,Alopochen_aegyptiacus,Belgium,3237_B6659,201,None,None,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,2017-03-25,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
4,A,Alopochen_aegyptiacus,Belgium,3237_B6663,201,None,None,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,2017-03-25,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787

In [25]:
df_new = df_new.drop(['Blank', 'Code', 'Year', 'a', 'b'], axis=1)

In [26]:
df_new.head()

,Species,Location,gid,title,date,subtype_y,label_y,src_y,TT_p2_Bias_HA,V_aa_Bias_HA,...,PAAC_Xc1.L_PB2,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2
0,Accipiter_gentilis_schvedowi,Tianjin,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,2017-06-15,H9N2,nz,NCBI,0.866878,0.055258,...,0.0,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484
1,African_Stonechat,Vietnam,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,2009-11-15,H9N2,nz,NCBI,0.870800,0.051693,...,0.0,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675
2,Alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,2017-02-16,H1N2,nz,NCBI,0.792554,0.052910,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
3,Alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,2017-03-25,H1N2,nz,NCBI,0.792554,0.054770,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787
4,Alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,2017-03-25,H1N2,nz,NCBI,0.795177,0.054867,...,0.0,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787

In [36]:
df_new['Species'] = df_new['Species'].str.lower()

In [34]:
counts = df_new['Species'].value_counts()

In [35]:
print(counts)

Species
chicken             4243
mallard             3353
duck                2655
ruddy_turnstone     1342
blue-winged_teal     743
                    ...
eastern_buzzard        1
eider                  1
fighting_bird          1
finch                  1
ngan                   1
Name: count, Length: 464, dtype: int64

In [39]:
df_new['label_y'].value_counts()

label_y
nz       18913
hzoon      618
Name: count, dtype: int64

In [48]:
df_temp = pd.DataFrame.copy(df_new)

In [41]:
df_temp.loc[df_temp.label_y=='hzoon', 'Location'] = df_temp.loc[df_temp.label_y=='hzoon', 'Species']
df_temp.loc[df_temp.label_y=='hzoon', 'Species'] = ''

In [ ]:
df_temp.head()

In [42]:
df_new.loc[df_new.label_y=='hzoon', 'Location'] = df_new.loc[df_new.label_y=='hzoon', 'Species']
df_new.loc[df_new.label_y=='hzoon', 'Species'] = 'human'

In [43]:
df_new['Species'] = df_new['Species'].str.lower()

In [45]:
counts = df_new['Species'].value_counts()
print(counts)

Species
chicken             4243
mallard             3353
duck                2655
ruddy_turnstone     1342
blue-winged_teal     743
                    ...
fighting_bird          1
finch                  1
fowl                   1
gray_headed_gull       1
ngan                   1
Name: count, Length: 402, dtype: int64

In [ ]:
anas_platyrhynchos

In [ ]:
df_temp

In [52]:
df_temp.loc[df_temp['Species'].str.contains('mallard', na=False), 'Species'] = 'mallard'
df_temp.loc[df_temp['Species'].str.contains('mulard', na=False), 'Species'] = 'mallard'
df_temp.loc[df_temp['Species'].str.contains('anas_platyrhynchos', na=False), 'Species'] = 'mallard'
counts_temp = df_temp['Species'].value_counts()
print(counts_temp)

Species
chicken             4243
mallard             3799
duck                2655
ruddy_turnstone     1342
blue-winged_teal     743
                    ...
finch                  1
fowl                   1
gray_headed_gull       1
gray_plover            1
ngan                   1
Name: count, Length: 392, dtype: int64

In [53]:
df_new.loc[df_new['Species'].str.contains('mallard', na=False), 'Species'] = 'mallard'
df_new.loc[df_new['Species'].str.contains('mulard', na=False), 'Species'] = 'mallard'
df_new.loc[df_new['Species'].str.contains('anas_platyrhynchos', na=False), 'Species'] = 'mallard'
counts_temp = df_new['Species'].value_counts()
print(counts_temp)

Species
chicken             4243
mallard             3799
duck                2655
ruddy_turnstone     1342
blue-winged_teal     743
                    ...
finch                  1
fowl                   1
gray_headed_gull       1
gray_plover            1
ngan                   1
Name: count, Length: 392, dtype: int64

In [54]:
df_new['SpeciesBins'] = df_new['Species']

In [67]:
df_new.loc[df_new['SpeciesBins'].str.contains('duck', na=False), 'SpeciesBins'] = 'duck'
df_new.loc[df_new['SpeciesBins'].str.contains('teal', na=False), 'SpeciesBins'] = 'teal'
df_new.loc[df_new['SpeciesBins'].str.contains('gull', na=False), 'SpeciesBins'] = 'gull'
df_new.loc[df_new['SpeciesBins'].str.contains('goose', na=False), 'SpeciesBins'] = 'goose'
df_new.loc[df_new['SpeciesBins'].str.contains('swan', na=False), 'SpeciesBins'] = 'swan'
df_new.loc[df_new['SpeciesBins'].str.contains('chicken', na=False), 'SpeciesBins'] = 'chicken'
df_new.loc[df_new['SpeciesBins'].str.contains('widgeon', na=False), 'SpeciesBins'] = 'wigeon'
df_new.loc[df_new['SpeciesBins'].str.contains('wigeon', na=False), 'SpeciesBins'] = 'wigeon'
df_new.loc[df_new['SpeciesBins'].str.contains('chiken', na=False), 'SpeciesBins'] = 'chicken'
df_new.loc[df_new['SpeciesBins'].str.contains('sandpiper', na=False), 'SpeciesBins'] = 'sandpiper'
df_new.loc[df_new['SpeciesBins'].str.contains('heron', na=False), 'SpeciesBins'] = 'heron'
df_new.loc[df_new['SpeciesBins'].str.contains('crane', na=False), 'SpeciesBins'] = 'crane'
df_new.loc[df_new['SpeciesBins'].str.contains('_owl', na=False), 'SpeciesBins'] = 'owl'
df_new.loc[df_new['SpeciesBins'].str.contains('quail', na=False), 'SpeciesBins'] = 'quail'
df_new.loc[df_new['SpeciesBins'].str.contains('hawk', na=False), 'SpeciesBins'] = 'hawk'
df_new.loc[df_new['SpeciesBins'].str.contains('eagle', na=False), 'SpeciesBins'] = 'eagle'
df_new.loc[df_new['SpeciesBins'].str.contains('stint', na=False), 'SpeciesBins'] = 'stint'
df_new.loc[df_new['SpeciesBins'].str.contains('swallow', na=False), 'SpeciesBins'] = 'swallow'
df_new.loc[df_new['SpeciesBins'].str.contains('tern', na=False), 'SpeciesBins'] = 'tern'
df_new.loc[df_new['SpeciesBins'].str.contains('falcon', na=False), 'SpeciesBins'] = 'falcon'
df_new.loc[df_new['SpeciesBins'].str.contains('pochard', na=False), 'SpeciesBins'] = 'pochard'
df_new.loc[df_new['SpeciesBins'].str.contains('sparrow', na=False), 'SpeciesBins'] = 'sparrow'
df_new.loc[df_new['SpeciesBins'].str.contains('stork', na=False), 'SpeciesBins'] = 'stork'
df_new.loc[df_new['SpeciesBins'].str.contains('oystercatcher', na=False), 'SpeciesBins'] = 'oystercatcher'
df_new.loc[df_new['SpeciesBins'].str.contains('pelican', na=False), 'SpeciesBins'] = 'pelican'
df_new.loc[df_new['SpeciesBins'].str.contains('buzzard', na=False), 'SpeciesBins'] = 'buzzard'
counts_temp_bins = df_new['SpeciesBins'].value_counts()
counts_temp_bins

SpeciesBins
chicken              4323
mallard              3799
duck                 3527
teal                 1445
ruddy_turnstone      1342
                     ...
chukka                  1
cape_shoveler           1
african_stonechat       1
brambling               1
ngan                    1
Name: count, Length: 192, dtype: int64

In [68]:
df_new.head()

,Species,Location,gid,title,date,subtype_y,label_y,src_y,TT_p2_Bias_HA,V_aa_Bias_HA,...,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2,SpeciesBins
0,accipiter_gentilis_schvedowi,Tianjin,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,2017-06-15,H9N2,nz,NCBI,0.866878,0.055258,...,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484,accipiter_gentilis_schvedowi
1,african_stonechat,Vietnam,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,2009-11-15,H9N2,nz,NCBI,0.870800,0.051693,...,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675,african_stonechat
2,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,2017-02-16,H1N2,nz,NCBI,0.792554,0.052910,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus
3,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,2017-03-25,H1N2,nz,NCBI,0.792554,0.054770,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus
4,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,2017-03-25,H1N2,nz,NCBI,0.795177,0.054867,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus

In [69]:
df_new= df_new.rename(columns={'subtype_y': 'subtype', 'label_y': 'label', 'src_y': 'src'})
df_new.head()

,Species,Location,gid,title,date,subtype,label,src,TT_p2_Bias_HA,V_aa_Bias_HA,...,PAAC_Xc1.A_PB2,PAAC_Xc1.P_PB2,PAAC_Xc2.lambda3_PB2,PAAC_Xc1.F_PB2,PAAC_Xc1.C_PB2,PAAC_Xc1.I_PB2,PAAC_Xc1.W_PB2,PAAC_Xc1.R_PB2,PAAC_Xc1.H_PB2,SpeciesBins
0,accipiter_gentilis_schvedowi,Tianjin,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017M,A/Accipiter_gentilis_schvedowi/Tianjin/22/2017,2017-06-15,H9N2,nz,NCBI,0.866878,0.055258,...,32.962529,0.0,0.084335,0.0,3.745742,0.0,7.491484,45.698052,7.491484,accipiter_gentilis_schvedowi
1,african_stonechat,Vietnam,A/African_Stonechat/Vietnam/8/2009A,A/African_Stonechat/Vietnam/8/2009,2009-11-15,H9N2,nz,NCBI,0.870800,0.051693,...,32.954570,0.0,0.085853,0.0,3.744838,0.0,7.489675,44.938050,7.489675,african_stonechat
2,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017M,A/Alopochen_aegyptiacus/Belgium/1570_B6613/2017,2017-02-16,H1N2,nz,NCBI,0.792554,0.052910,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus
3,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6659/2017,2017-03-25,H1N2,nz,NCBI,0.792554,0.054770,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus
4,alopochen_aegyptiacus,Belgium,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017M,A/Alopochen_aegyptiacus/Belgium/3237_B6663/2017,2017-03-25,H1N2,nz,NCBI,0.795177,0.054867,...,33.704042,0.0,0.085540,0.0,3.744894,0.0,7.489787,45.687701,7.489787,alopochen_aegyptiacus

In [72]:
df_new.to_csv('full_data_with_species_and_locations.csv')